<h1>Switchboard</h1>
<div style="display: flex; justify-content: center;">
  <button [ngClass]="{'on':state[0], 'off':!state[0]}" (click)="toggle(0)">{{ state[0] }}</button>
  <button [ngClass]="{'on':state[1], 'off':!state[1]}" (click)="toggle(1)">{{ state[1] }}</button>
  <button [ngClass]="{'on':state[2], 'off':!state[2]}" (click)="toggle(2)">{{ state[2] }}</button>
  <button [ngClass]="{'on':state[3], 'off':!state[3]}" (click)="toggle(3)">{{ state[3] }}</button>
  <button [ngClass]="{'on':state[4], 'off':!state[4]}" (click)="toggle(4)">{{ state[4] }}</button>
  <button [ngClass]="{'on':state[5], 'off':!state[5]}" (click)="toggle(5)">{{ state[5] }}</button>
  <button [ngClass]="{'on':state[6], 'off':!state[6]}" (click)="toggle(6)">{{ state[6] }}</button>
  <button [ngClass]="{'on':state[7], 'off':!state[7]}" (click)="toggle(7)">{{ state[7] }}</button>
</div>
